.Toolbar {
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 90;
}

.Toolbar nav {
  height: 100%;
}

.logo_div {
  display: none;
}

.logo_block {
  display: none;
}

.DesktopOnly {
  display: none;
}

@media (min-width: 480px) {
}

@media (min-width: 768px) {
  .logo_div {
    display: block;
    position: relative;
    width: 100px;
    height: 100%;
  }

  .logo_block {
    display: block;
    position: absolute;
    top: 20px;
    left: 0;
    width: 100px;
    height: 100px;
    box-sizing: border-box;

    fill: #c3c8cd;
    stroke: #c3c8cd;
  }

  .DesktopOnly {
    display: block;
  }
}

@media (min-width: 1200px) {
}
